.myAbout {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myAbout-light {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  margin: 5px 10px 5px 10px;
}
  
.myAbout-light > p {
    color: rgb(255,0,0);
}

.myAbout-dark {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  margin: 5px 10px 5px 10px;
}

.myAbout-dark > p {
    color: rgb(0,255,0);
}