.myHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
}

.myHeader-light {
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}
  
.myHeader-dark {
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}

.myHeaderLogo {
  font-size: larger;
  font-weight: bolder;
}

.myHeaderMenu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.myHeaderLink {
  text-decoration: none;
  padding: 10px;
}

.myHeaderLink:hover {
  background-color: rgb(50,50,50);
  text-decoration: double rgb(200,200,200);
}

.myModeSwitchButton {
  border: 0;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
} 

.myModeSwitchButton-light {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  box-shadow: 10px 10px 15px 0px rgb(150, 150, 150);
}

.myModeSwitchButton-light:hover {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  box-shadow: 10px 10px 15px 0px rgb(150, 150, 150);
  border: 1px dashed rgb(100,100,100);
}

.myModeSwitchButton-light:active {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  box-shadow: none;
  border: 1px dashed rgb(100,100,100);
  position: relative;
  top: 1px;
}

.myModeSwitchButton-dark {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  box-shadow: 10px 10px 15px 0px rgb(50, 50, 50);
}

.myModeSwitchButton-dark:hover {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  box-shadow: 10px 10px 15px 0px rgb(50, 50, 50);
  border: 1px dashed rgb(100,100,100);
}

.myModeSwitchButton-dark:active {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  box-shadow: none;
  border: 1px dashed rgb(100,100,100);
  position: relative;
  top: 1px;
}