.myFooter {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 100%;
}

.myFooter-light {
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}
  
.myFooter-dark {
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}

.myLeftFooter {
  margin-left: 20px;
  font-style: italic;
  font-weight: lighter;
  font-size: smaller;
}

.myRightFooter {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}