.myFooter {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.myFooter-light {
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}
  
.myFooter-light > p {
    color: rgb(255,0,0);
}

.myFooter-dark {
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}

.myFooter-dark > p {
    color: rgb(0,255,0);
}