.myApp {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.myApp-dark {
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}

.myApp-light {
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}